<div class="rows">
	<br>
	<div class="col-md-12">
	<h3 ><p class="text-primary">Bienvenido a Tienda de Libros</p></h3>
	</div>
	<div>
	<div class="col-md-4">
		<br>
		<br>
		<ul class="text-primary">
			<li><a ui-sref="dashboard.datos" class="text-success">
					Mis Datos
				</a>
			</li>
			<li><a ui-sref="dashboard.pedidos" class="text-success">
					Mis Pedidos
				</a>	
			</li>
			<li><a ui-sref="dashboard.prueba" class="text-success">
					Mis Favoritos
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-8">
		<div ui-view></div>
	</div>
</div>
</div>