<div class="">
<hr>
	<form>
		<div class="col-md-12 form-group">
			<label for="exampleInputEmail1">Email</label>
			<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
			<small class="form-text text-muted">Puedes cambiar tu email en cualquier momento</small>
		</div>
		<div>
		<div class="col-md-4">
			<div class="form-group">
    		<label for="exampleInputPassword1">Contrasena</label>
    		<input type="password" class="form-control" placeholder="Password">
		</div>
		</div>	
		<div class="col-md-4">
			<div class="form-group">
    		<label for="exampleInputPassword1">Contraseña</label>
    		<input type="password" class="form-control" placeholder="Password">
		</div>
		</div>
		</div>
		<div>
		<div class="col-md-10">
			<div class="form-group">
		    <label for="exampleTextarea">Dirección</label>
		    <textarea class="form-control" rows="1"></textarea>
  		</div>
		</div>
		<div class="col-md-2">
		<div class="form-group">
		    <label for="exampleTextarea">CP</label>
		    <textarea class="form-control" rows="1"></textarea>
  		</div>
		</div>
  		</div>
  		<div>
  			<div class="col-md-6">
  				  <div class="form-group">
					    <label for="exampleSelect1">Pais</label>
					    <select class="form-control">
					      <option>México</option>
					      <option>Alemania</option>
					      <option>Francia</option>
					      <option>USA</option>
					      <option>Canada</option>
					  	  <option>Brasil</option>
					    </select>
  					</div>
  			</div>
  			<div class="col-md-6">
  				 <div class="form-group">
					    <label for="exampleSelect1">Ciudad</label>
					    <select class="form-control">
					      <option>Chihuahua</option>
					      <option>Berlin</option>
					      <option>Paris</option>
					      <option>Washington</option>
					      <option>Montreal</option>
					  	  <option>Rio</option>
					    </select>
  					</div>
  			</div>
  		</div>
  		<div class="col-md-12">
  			<button type = "button" class="btn btn-success pull-right">Guardar</button>
  		</div>
	</form>
</div>
