<h4>Buscar: Incluye acentos :)</h4> <input class="pull-left bg-success form-control " type="text" placeholder="Busca un Libro" ng-model="searchText.titulo"/>
<br>
	<div class="form-group">
		<br>
		<div class="form-group" ng-controller="BookStoreController">
			<label for="select">Ordenar por</label>
				<select name=""  class="form-control" ng-model="ordenar" ng-options="libro for libro in libros">
					<option value="" selected="selected">Elige una opcion</option>
					<option value="">ID</option>
					<option value="">Titulo</option>
				</select>
	</div>
	<div class="" ng-repeat="libro in storebook.articulos | filter:searchText | orderBy: 'ordenar'">
		<div class="row" background>
		</div>
			<br>
			<div class="col-md-4">
				<img ng-src="{{libro.images[0].url}}" class=" img-responsive img-rounded">
			</div>
			<div class="col-md-6">
				<h2>
				<p class="text-primary text-center">{{libro.titulo}}</p>
				</h2>
				<!--<a  class="btn btn-danger" href="#/ficha/{{$index}}">Ir a la ficha</a>-->
					<div ui-view></div>
				<h3 class="text-success">Descripcion</h3>
					<p class="text-justify">{{libro.descripcion}}</p>
					<a  class="pull-right btn btn-success" href="#/ficha/{{$index}}">Ver ficha completa</a>
					<section  ng-controller="PanelController as panel">
						<ul class="nav nav-pills">
							<li ng-class="{active:panel.isSelected(1)}"><a href="" ng-click="panel.selectTab(1)">Editorial</a></li>
							<li ng-class="{active:panel.isSelected(2)}"><a href="" ng-click="panel.selectTab(2)">Autor</a></li>
							<li ng-class="{active:panel.isSelected(3)}"><a href="" ng-click="panel.selectTab(3)">ID</a></li>
						</ul>
					<div class="panel" ng-show="panel.isSelected(1)">
						<h4></h4>
						<p>{{libro.editorial}}</p>
					</div>
					<div class="panel" ng-show="panel.isSelected(2)">
						<h4></h4>
						<p>{{libro.autor}}</p>
					</div>
					<div class="panel" ng-show="panel.isSelected(3)">
					<h4></h4>
					<p>{{libro.id}}</p>
					</div>

				</div>
				<div class="col-md-2">
				<h3 class="text-success">
					<em class="pull-right">{{libro.precio | currency}}</em>
				</h3>
				<hr>
				</div>
			</div>

		</section>
		
		</div>
			
	</div>
</div>