<!-- 	<div class="" >
	<div class="row" background>
	</div>
		<br>
		<div class="col-md-8">
			<h2>
			<div ui-view></div>
			<p class="text-primary text-center">{{favorito.resumen}}</p>
			</h2>
			<h3 class="text-success">Descripcion</h3>
			<p class="text-justify">{{favorito.estado}}</p>
		</div>
		<div class="col-md-8">
	<button type = "button" class="btn btn-danger" ui-sref="main">Regresar</button>
</div>			
</div>
</div> -->

<div>
<div>
	El resultado de 2+2 es{{2+2}}
	{{favorito.resumen}}
</div>

	<button type = "button" class="btn btn-primary" ui-sref="dashboard">Regresar</button>

</div>